---
layout: default
---
<div class="post-content" itemprop="articleBody">{{ content }}</div>
<center>
{% include ads.html %}<br/></center>

{% if page.nextlink %}<a style="color: #fff;background-color:#498AF5;padding: 10px 10px 10px 10px;float:right" href="/{{page.nextlink}}">Next Page </a>{% endif %}
{% if page.prevlink %}<a style="color: #fff;background-color:#498AF5;padding: 10px 10px 10px 10px;float:left" href="/{{page.prevlink}}">Previous Page </a>{% endif %}

<br/><br/><br/><br/><br/><br/><br/><br/><br/>